/* Typography 
p lineheight = 3rem

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px


*/
/* gap
4.6rem
*/
/*PADDING
4rem, 9.6rem
*/
/* margin
4.8rem
*/
/*
- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

- Oranges


---  SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- GRADIENTS
#bf7b3f

*/
/* css variables - custom properties */
:root {
  --color-primary: #eb2f64;
  --color-primary-light-1: #f0f0f2;
  --color-grey-dark-1: #636a73;
  --color-grey-dark-2: #222426;
  --color-grey-dark-3: #101010;
  --color-grey-light-1: #767e89;
  --color-accent-1: #bf7b3f;
  --color-light-orange: #f6aa1c;
  --color-lighter-orange: #f9f2ec;
  --color-accent-2: #260902;
  --color-accent-3: #bc3908;
  --color-white: #fff;
  --color-black: #000;
  --gradient: linear-gradient(
    to right bottom,
    var(--color-light-orange),
    var(--color-accent-1)
  );
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --default-font-size: 1.8rem;
  --default-line-height: 1.8;
  --header-p-font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* line-height: 1.6; */
  /* font-size: 1.6rem; */
  line-height: var(--default-line-height);
  font-size: var(--default-font-size);
  color: #202124;
  /* background-image: linear-gradient(
    to right bottom,
    var(--color-white),
    var(--color-primary-light-1)
  ); */

  /* background-position: cover;
  background-repeat: no-repeat; */

  min-height: 100vh;
  overflow-x: hidden;
}

/* body::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../images/skater.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
} */

img {
  border-radius: 1rem;
}

p {
  line-height: 2.25rem;
}
/*****************************/
/* HELPERS */
/*****************************/
.rad1 {
  border-radius: 1rem;
}

.grid {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 2fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

.grid-self-center {
  justify-self: center;
  align-self: center;
}

/*****************************/
/* COMPONENTS */
/*****************************/

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner img {
  height: 6rem;
  width: 6rem;
  fill: #f6aa1c;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  background-image: var(--gradient);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.btn > *:first-child {
  margin-right: 1rem;
}

.btn--inline {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-image: var(--gradient);
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 0.5rem;
  width: 0.5rem;
  fill: #fff;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  transform: scale(1.05);
}

.btn--inline:focus {
  outline: none;
}

.page-container {
  width: 100%;
}

/* Google Icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  color: var(--color-light-orange);
  margin-right: 0.2rem;
}

/*****************************/
/* HEADER */
/*****************************/
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* because we want it to be sticky it is set to a fixed height not content determining height */
  /* height: 9.6rem; */
  padding: 2rem 4.8rem;
  position: relative;
  /* border-bottom: 1px solid var(--color-grey-dark-2); */
  box-shadow: var(--shadow-dark);
  width: 100vw;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  /* margin-left: 4rem; */
  width: 80px;
  height: 80px;
}

.logo-title {
  text-align: center;
  line-height: 3.8rem;
}

.search {
  background-color: #fff;
  border: 1px solid #f6aa1c;

  border-radius: 10rem;
  display: flex;
  align-items: center;
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: var(--shadow-dark);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 18rem;
}

.search__field:focus {
  outline: none;
}

.search::placeholder {
  color: var(--color-grey-light-1);
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}

/*****************************/
/* MAIN CONTENT CONTAINER */
/*****************************/
.main-container {
  grid-template-columns: 1fr;
  width: 100%;
  padding: 1rem;
}

.left-col {
  position: relative;
  width: 100%;
  z-index: 1;

  /* padding: 1rem; */
}
.right-col {
  /* padding: 1rem; */
  position: relative;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.preview__link {
  text-decoration: none;
  color: #202124;
}

.preview__link:link,
.preview__link:visited {
  display: flex;
  /* align-items: center; */
  padding: 1.5rem 1.5rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.preview__link:hover {
  background-color: var(--color-lighter-orange);
  transform: translateY(-2px);
}

.preview__link--active {
  background-color: var(--color-lighter-orange);
  /* border-top: 6px solid var(--color-light-orange); */
  box-shadow: inset 0 6px 0 0 var(--color-light-orange);
}

.thumb-container {
  background-color: #cfd2d5;
  margin-bottom: 1.3rem;
}

.parks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.park-list-item {
  list-style: none;
  background-color: #fff;
  box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  /* width: 30rem; */
  border-radius: 1rem;
  margin: 0 0 3rem 0;
  overflow: hidden;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
}

.list-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0;
}

.addr-container {
  margin-bottom: 1.25rem;
}
.addr-container,
.openhrs-container {
  display: flex;
}

.park__address {
  color: var(--color-grey-dark-2);
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination::after {
  content: "";
  display: table;
  clear: both;
}

.pagination__btn--next {
  float: right;
}

.pagination__btn--prev {
  float: left;
}

.park-list-item h3 {
  margin-bottom: 1.5rem;
}

.park-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 4rem;
}

/* .park-details::before {
  content: "";
  position: absolute;
  top: 50;
  width: 20%;
  min-height: 20%;
  background-image: url(../images/skater.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  opacity: 0.5;
} */

.park-details-bg {
  width: 100%;
  background-image: url(../images/skater.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-size: contain;
  background-position: center;
  padding: 10rem;
  opacity: 0.6;
}

.park-title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.park-img-container {
  overflow: hidden;
}

.park-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.park-description-container {
  margin-bottom: 1rem;
}

.park-text-container,
.park-specs-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.park-spec {
  /* width: 20%; */
  background-color: #efefef;
  padding: 1rem;
  border-radius: 1rem;
}

.spec-title-plus-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.spec-title-plus-icon i {
}

.park-contact-container ul {
  list-style-type: none;
}

.park-surface-text {
  text-transform: lowercase;
  text-transform: capitalize;
}

/*****************************/
/* MAP */
/*****************************/

.map-container {
  width: 100%;
}

#map {
  position: relative;
  width: 80vw;
  height: 80vh;
  top: 0;
  bottom: 0;
}

/* CUSTOM MARKERS WILL BE ADDED */
/* .marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
} */

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 1rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/*****************************/
/* MODAL */
/*****************************/

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/*****************************/
/* FULL WIDTH IMAGE */
/*****************************/
.full-width-img {
  overflow: hidden;
}

.full-width-img img {
  width: 100%;
  display: block;
  margin-bottom: 0;
}

/*****************************/
/* FOOTER */
/*****************************/
.footer-container {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  border-top: 1px solid var(--color-grey-dark-2);
  box-shadow: var(--shadow-dark);
}

.footer-container a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid var(--color-accent-1);
}

.main__nav {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem 0;
}

.header-logo,
.header-logo-link {
  height: 90%;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-accent-1);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  color: var(--color-grey-dark-2);
}

/* sticky navigation*/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-grey-dark-3);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* END MOBILE NAV */

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  /* Stops layout jumping if you used border-bottom: none; actually keep the border but make it transparent */
  border-bottom: 1px solid transparent;
}

/* MEDIA QUERIES */
/* rem and em do not depend on html fontsize in media queries, instead, 1rem = 1em = 16px */
/*****************************/
/* BELOW 1344 (SMALLER DESKTOPS)*/
/*****************************/
/* 1350px  /16 = 84em */
@media (min-width: 84em) {
  .header {
    flex-direction: row;
  }

  .header :nth-child(2) {
    order: 1;
  }

  .logo-container {
    flex-direction: row;
  }

  .search__field {
    width: 30rem;
  }
  .main-container {
    grid-template-columns: 1fr 2fr;
  }

  .modal {
    position: relative;
  }
  .close-modal {
    display: none;
  }

  .park-details {
    margin-top: 0;
  }

  .park-description {
    text-align: left;
  }

  .park-text-container,
  .park-specs-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .park-spec {
    text-align: left;
  }

  .spec-title-plus-icon {
    justify-content: left;
  }
}

/*****************************/
/* BELOW 1200 (LANDSCAPE TABLETS)*/
/*****************************/
/* @media (max-width: 75em) {
  html {
    /* 9px / 16px = 56.25% */
/* font-size: 56.25%; */
/* } */
/* .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  } */

/* .main-container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .logo-container {
    flex-direction: column;
  }

  .logo-img {
    margin-left: 0;
  }

  .logo-title {
    line-height: 4rem;
    margin: 3.2rem 0;
    font-size: 4rem;
    text-align: center;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 3.2rem 3.2rem;
    flex-direction: column;
  }

  .search__field {
    font-size: 78%;
    width: 60%;
  }

  .list-container {
    grid-template-columns: 1fr;
  }

  .park-text-container,
  .park-specs-container {
    grid-template-columns: 1fr;
    gap: 0.5em;
  } */
/* }  */

/*****************************/
/* BELOW 944px ( TABLETS)*/
/*****************************/
/* @media (max-width: 59em) {
  html { */
/* 8px / 16px = 0.5 = 50% */
/* font-size: 50%;
  }
  .logos img {
    height: 2.4rem;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  } */

/* .btn--form{
      margin-top: 1.2rem;
    } */

/* MOBILE NAV */
/* .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main__nav {
    background-color: rgba(215, 110, 11, 0.985);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* HIDE NAV */
/*display:none; does not allow transitions or animations*/
/* 1) hide it visually */
/* opacity: 0; */
/* 2) make it inaccessible to mouse and keyboard */
/* pointer-events: none; */
/* 3) hide from screen readers */
/* visibility: hidden;
  } */
/* .nav-open .main__nav {
    opacity: 1; */
/* pointer-events stops it being reachable by screen readers */
/* pointer-events: auto;
    visibility: visible;
    transition: all 0.5s ease-in;
    transform: translateX(0);
  } */
/* show X close button */
/* .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  } */
/* hide hamburger */
/* .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main__nav-list {
    flex-direction: column;
    column-gap: 2.4rem;
  }
  .main__nav-item-link:link,
  .main__nav-item-link:visited {
    font-size: 3rem;
  } */
/* }  */

/*****************************/
/* BELOW 704px ( SMALLER TABLETS)*/
/*****************************/
/* @media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-primary {
    font-size: 2rem;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
} */

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
/* @media (max-width: 44em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
} */

/**************************/
/* BELOW 544px (Phones) */
/**************************/
/* @media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .logos img {
    height: 1.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5rem;
  }

  .mobile-section-padding {
    padding: 9.6rem 3.2rem;
  }
} */
